.cabecalho {
    background-color: #0B14FD;
    opacity: 0.7;
    color: white;
    padding-bottom: .2rem;
}

.cabecalho__navegacao {
    width: 100%;
}

.navegacao__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1.4rem;
}

.navegacao__link {
    text-align: center;
    font-weight: 700;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-bottom: white solid 1px;
}

@media screen and (min-width: 768px) {

    .cabecalho {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    .navegacao__menu {
        flex-direction: row;
    }
}