.conteudo__quem-sou {
    background-image: url(../img/perfil.jpg);
    background-size: cover;
    padding-top: calc(100% - 2.5rem);
}

.quemSou__meuNome {
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    padding-top: 2rem;
    padding-bottom: 8rem;
}

.quem-sou__foto-perfil {
    display: none;
}

.chamada {
    text-align: end;
}